*{
  margin: 0;
  padding: 0;
  font-family: calibri, ,segoe ui, arial,tahoma,sans-serif;
}

body{
  background-color: #DDDDDD;
}

#wrapper{
  width: 780px;
  margin: 0 auto;
  overflow: hidden;
}

#header{
  background: url(images/header.png) repeat-x #555;
  height: 215px;
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  overflow: hidden;
}

#header img{width: 90px; height: 85px;}

#menu-utama{
  margin-top: 3px;
  list-style: none;
}

#menu-utama li{
  float: left;
  padding: 50px 20px;
  border-right: none;
}

#menu-utama li a{
  color: #33ff33;
  text-decoration: none;
}

#header form{
  float: right;
  margin-top: 90px;
  margin-right: 10px;
}

#header form input{
  border: none;
  width: 190px;
  height: 30px;
}

#daftar-artikel{
  width: 470px;
  float: left;
}

.artikel{
  background: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.artikel img{
  float: left;
  margin-right: 10px;
  width: 200px;
  height: 165px;
}

.artikel b{
  color: #616060;
  background: #DDDDDD;
  padding: 3px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

.artikel p{
  margin: 10px 0;
}

.artikel a{
  display: block;
  text-align: right;
  color: #636363;
}

#sidebar{
  width: 270px;
  float: right;
}

#sidebar h2{
  font-size: 18px;
  margin: 10px 0;
}

#sidebar p{
  line-height: 20px;
  color: #636363;
}

#sidebar ul li a {
  color: #636363;
  text-decoration: none;
}

#footer{
  clear: both;
  margin: 20px 0;
  text-align: center;
  background-color: #f0f0f0;
  padding: 5px;
  color: #555555;
}
